<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2022 EPAM Systems, Inc. All Rights Reserved. All information contained herein is, and remains the
  ~ property of EPAM Systems, Inc. and/or its suppliers and is protected by international intellectual
  ~ property law. Dissemination of this information or reproduction of this material is strictly forbidden,
  ~ unless prior written permission is obtained from EPAM Systems, Inc
  -->

<configuration>
    <property name="LOG_HOME" value="target"/>
    <property name="fileName" value="logs"></property>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] - %-5level [%class: %line] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/${fileName}.txt</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] - %-5level [%class: %line] - %msg%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_HOME}/${fileName}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>90</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>